#cloud-config
hostname: ${HOSTNAME}
users:
  - name: ${VM_USER}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/${VM_USER}
    shell: /bin/bash
    # lock-passwd: false
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDNKhXTJbu2g1kpJSOWoQAQRT0/NjOTHHXFxStDjJy48bcOw0dMwPbEvseOpuNps6Oqg19he1gTO0DuxPjTfXbggLmVqfQgKr9KDEO8sxeRuXZi+Dy3V3Sol1oB3ioWfb5SzduMURuSOUxnI/lrBAAI6GdkBjpyn1Jv8IHMy+N5X9C9pIpltaUxXycn67w6g5HbTnmNpjJUMAGQ2t/HdDAmLho4vF8XR1gD5tjfvaQ5RrbtAnukBgHUwUxgFZe77NYdIjJv3V5mVf2QSLkeJu8BT6m1mSg084i3knENjVakYkEPBiVpgVsXo3HSkFJHkddXinNkylI62IUii0hw4DDQlZ4Q+acmwi3vFi+MTPu1X2EuXkRHhPi5sqgxA+hSUmVBODu00VmZaDzFSwvUltZHYphFL8/XX+6PWobhjRTwNZwPjasXswoYAslr/0PwfSF+YmJTzvWxRXfXih/zQAidHOapg2QkysktfZ3OabRagDrxzL1Jkl+XlMp4+IhfYcGwZL6Trukjif2m8yl46nw4run51uQZ5Al1cnnuPCFsHZJmM2IRvHQ4efuC7bmxr5/vh6xsDgWVHeT5Fz9RX7VPagmmS1yDf/vhxCPrt6nFIYjyV9tUgj2tgxCIpyMh0hr/oVFk0Z+Sk6kXMEjDIky3naEaTsadoZJEeyvNp/FCXw==
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     ${VM_USER}:rancher
  expire: False
package_update: true
package_upgrade: true
packages:
    - qemu-guest-agent
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg-agent
    - software-properties-common
    - zsh
growpart:
  mode: auto
  devices: ['/']
runcmd:
  - [ sh, -c, 'curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -' ]
  - [ sh, -c, 'sudo apt-key fingerprint 0EBFCD88']
  - [ sh, -c, 'sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"' ]
  - [ sh, -c, 'sudo apt update' ]
  - [ sh, -c, 'sudo apt install -y docker-ce docker-ce-cli containerd.io' ]
  - [ sh, -c, 'printf "\nalias dk=\"sudo docker\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dkc=\"sudo docker container\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dki=\"sudo docker image\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dks=\"sudo docker service\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dkn=\"sudo docker node\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'sudo apt-get update -y && sudo apt-get install -y curl' ]
  - [ sh, -c, 'until sudo snap install kubectl --classic && kubectl version --client > /dev/null 2>&1; do echo "Retrying kubectl installation..."; sleep 5; done' ]
  - [ sh, -c, 'reboot' ]