#cloud-config
hostname: ${HOSTNAME}
users:
  - name: ${VM_USER}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/${VM_USER}
    shell: /bin/bash
    # lock-passwd: false
    ssh-authorized-keys:
      - ${SSH_KEY}
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     ${VM_USER}:rancher
  expire: False
package_update: true
package_upgrade: true
packages:
    - qemu-guest-agent
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg-agent
    - software-properties-common
    - zsh
growpart:
  mode: auto
  devices: ['/']
runcmd:
  - [ sh, -c, 'curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -' ]
  - [ sh, -c, 'sudo apt-key fingerprint 0EBFCD88']
  - [ sh, -c, 'sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"' ]
  - [ sh, -c, 'sudo apt update' ]
  - [ sh, -c, 'sudo apt install -y docker-ce docker-ce-cli containerd.io' ]
  - [ sh, -c, 'printf "\nalias dk=\"sudo docker\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dkc=\"sudo docker container\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dki=\"sudo docker image\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dks=\"sudo docker service\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'printf "\nalias dkn=\"sudo docker node\"\n" >> /home/${VM_USER}/.bashrc' ]
  - [ sh, -c, 'sudo apt-get update -y && sudo apt-get install -y curl' ]
  - [ sh, -c, 'until sudo snap install kubectl --classic && kubectl version --client > /dev/null 2>&1; do echo "Retrying kubectl installation..."; sleep 5; done' ]
  - [ sh, -c, 'until command -v rke2; do curl -sfL https://get.rke2.io | sudo INSTALL_RKE2_VERSION=${K8S_VERSION} sh - && sleep 5; done' ]
  - [ sh, -c, 'until command -v helm; do curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash && sleep 5; done' ]
  - [ sh, -c, 'echo "fin" > /home/${VM_USER}/fin' ]
  - [ sh, -c, 'reboot' ]